@font-face {
    font-family: 'mangabaregular';
    src: url('mangaba-webfont.woff2') format('woff2'),
         url('mangaba-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
    background-color: lightblue;
  }

.main_title {
    font-family: mangabaregular;
    text-align: left;
    margin-left: 5%;
    font-size: 100;
}
.main_title a { /* Applique les changements aux balises a contenues dans la class main_title */
    text-decoration: none;
    color:darkblue;
}
.main_title a:hover {
    /* Changements quand on passe la souris dessus */
}
h2 {
    font-family: mangabaregular;
    text-align: center;
    font-size: 70;
}


.house_homepage {
    height:50px;
    width:50px;
    object-fit: cover;
}
.loupe_homepage {
    width: 20px;
    height: 20px;
}
.top_bar_text a {
    color: brown;
    text-decoration: none;
    font-family: mangabaregular;
    font-size: 30;
}
.searchbar {
    border-width: 0px;
}

  
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 20px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 20px;word-break:normal;}
.tg .tg-cly1{text-align:left;vertical-align:middle}
.tg .tg-0lax{
    text-align:middle;
    vertical-align:middle;
    width: 18%;
    height: 300px;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.centered_table {
    width : 92%;
    margin-left: auto;
    margin-right: auto;
}

#tableHomePage,
#tableHomePage table,
#tableHomePage td,
#tableHomePage th,
#tableHomePage tr {
    border-collapse: collapse;
    border:0px solid transparent;
}